:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url(/src/assets/original.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

h1, h2, h3, h4 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

.container {
  /* flex-direction: column; */
  /* padding: 1rem; */
  /* margin: 1rem; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 501px;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: black;
  text-shadow: 0px 0px 8px black;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container-1 label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.container-1 select {
  transition: all 1s;
}

.container-1 select:hover {
  background-color: rgba(255, 255, 150, 0.2);
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container-2 select {
  transition: all 1s;
  width: 35%;
}

.container-2 select:hover {
  background-color: #213547;
  color: white;
}

.container-2 label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.container-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-3 p {
  font-weight: bold;
  letter-spacing: 0.09rem;
}

.container-3 h2 {
  font-size: 2rem;
  margin: 1rem 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  color: black;
  font-weight: bold;
}

.container-1 select {
  color: red;
  text-align: center;
  border-radius: 30px;
  font-size: 1rem;
  width: 30%;
  padding: 1rem;
}

.container-2 select {
  color: red;
  text-align: center;
  border-radius: 30px;
  font-size: 1rem;
  width: 30%;
  padding: 1rem;
}

option {
  border-radius: 30px;
  height: 50%;
  font-weight: bold;
}

.icon {
  padding: 0;
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 6px solid gray;
  border-radius: 50%;
  box-shadow: 0px 0px 8px black;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
